.card.darken-1
  %form
    .card-content
      %span.card-title Árbol de sintaxis abstracta (AST)
      #tree1.white-text
    .card-action
      =#%button#btnCompilar.btn.waves-effect.waves-light Compilar