.card.blue-grey.darken-1
  .card-content.white-text
    %span.card-title Tabla de simbolos
    %table
      %thead
        %th Posición
        %th Tipo
        %th Valor
      %tbody#tBody
    .card-action
      =#%button#btnCompilar.btn.waves-effect.waves-light Compilar